
        * {
            box-sizing: border-box;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Raleway', sans-serif;


        }

        #menu {
            background-color: rgb(216, 199, 185);
        }

        #about {
            background-color: rgb(231, 231, 231);

        }

        #where {
            background-color: rgb(216, 199, 185);
        }


        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #Logo {
            text-decoration: none;
            padding: 15px;
            font-family: 'Poppins', sans-serif;
        }

        .w3-bar .w3-button {
            padding: 15px;


        }

        .w3-bar .w3-button:hover {
            border-bottom: 3px solid orange;
            border-right: 1px solid orange;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 5px;

        }

        .w3-bar .w3-button:active {
            border-bottom: 3px solid orange;
        }

        #iconmenu {
            padding: 15px;
        }

        #Sidebar {
            display: none;
        }

        /*deliver*/
        .bgdeliver {
            border: 1px white solid;
            padding: 10px 6px 10px 6px;
            border-radius: 50%;
            background-color: white;
            position: fixed;
            top: 500px;
            right: 50px;
        }

        .deliver {
            animation-name: deliverf;
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-out;

        }

        @keyframes deliverf {
            0% {
                transform: rotate(35deg);
            }

            15% {
                transform: rotate(-25deg);
            }

            25% {
                transform: rotate(20deg);
            }

            50% {
                transform: rotate(-15deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
        

        .mySlides {
            height: 600px;
        }
        
        

       
        
    
